# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
pip-wheel-metadata/
share/python-wheels/

# Virtual environments
env/
venv/
ENV/
.venv/
.env/
venv.bak/
env.bak/

# PyInstaller
*.manifest
*.spec

# Unit tests / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/

# Jupyter
.ipynb_checkpoints
*.ipynb

# Django / local DB
*.sqlite3
local_settings.py

# pyenv / pipenv / poetry
.python-version
Pipfile.lock
poetry.lock

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs / temp
*.log
*.tmp

# macOS / Windows
.DS_Store
Thumbs.db

# mypy
.mypy_cache/

# celery
celerybeat-schedule